---
title: Stub Middleman Kit
---

<nav class="app-navbar">
  <div class="navbar-container">
    <div class="navbar-header">
      <div class="navbar-brand"><a href="">mydrivr</a></div>
      <ul class="navbar-items">
        <li class="navbar-link"><a href="">Find a city</a></li>
      </ul>
    </div>

    <div class="navbar-footer">
     <ul class="navbar-items">
      <li class="navbar-link"><a href="">Become a driver</a></li>
      <li class="navbar-link"><a href="">Sign in</a></li>
    </ul>
  </div>
</nav>

<div class="banner wrapper-100">
  <div class="banner-title"> When you arrived your day start with an smile. </div>
  <div class="banner-search-box">
    <div class="banner-container-search-box">
      <input type="search" id="search" placeholder="Search..." />
      <button class="icon"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>

<div class="country-cards wrapper-80">
  <div class="country-container-card">
    <div class="country-card">
      <div class="country-name-card">Asia</div>
      <div class="country-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, esse!</div>
    </div>

    <div class="country-card">
      <div class="country-name-card">Europe</div>
      <div class="country-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, esse!</div>
    </div>

    <div class="country-card">
      <div class="country-name-card">Usa</div>
      <div class="country-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, esse!</div>
    </div>
  </div>
</div>

<div class="storyboards wrapper-100">
  <div class="storyboard-container-card">
    <div class="storyboard-image-card">
      <div class="storyboard-title-card">Lorem ipsum dolor sit amet.
      </div>
      <div class="storyboard-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, esse!</div>
    </div>

    <div class="storyboard-story-card">
      <div class="storyboard-title-card">Lorem ipsum dolor sit amet.</div>
      <div class="storyboard-text-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum iusto magni et in, veniam reprehenderit earum temporibus ea quibusdam?
      </div>
    </div>
  </div>

  <div class="storyboard-container-card">
    <div class="storyboard-image-card">
      <div class="storyboard-title-card">Lorem ipsum dolor sit amet.
      </div>
      <div class="storyboard-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, esse!</div>
    </div>

    <div class="storyboard-story-card">
      <div class="storyboard-title-card">Lorem ipsum dolor sit amet.</div>
      <div class="storyboard-text-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum iusto magni et in, veniam reprehenderit earum temporibus ea quibusdam?
      </div>
    </div>
  </div>
</div>

<div class="features wrapper-80">
  <div class="feature-container">
    <div class="feature-display">
      <img src="" alt="" class="feature-avatar">
      <div class="feature-name">Quality</div>
      <div class="feature-description">Lorem ipsum dolor sit amet.</div>
    </div>

    <div class="feature-display">
      <img src="" alt="" class="feature-avatar">
      <div class="feature-name">Quality</div>
      <div class="feature-description">Lorem ipsum dolor sit amet.</div>
    </div>

    <div class="feature-display">
      <img src="" alt="" class="feature-avatar">
      <div class="feature-name">Quality</div>
      <div class="feature-description">Lorem ipsum dolor sit amet.</div>
    </div>
  </div>
</div>

<footer class="app-footer wrapper-100">
  <div class="app-footer-container">
    <div class="app-footer-list">
      <ul class="footer-links">
        <li class="footer-link">facebook</li>
        <li class="footer-link">twitter</li>
        <li class="footer-link">pinterest</li>
      </ul>

      <ul class="footer-links">
        <li class="footer-link">linkedin</li>
        <li class="footer-link">google</li>
        <li class="footer-link">github</li>
      </ul>
    </div>

    <form class="contact-form" action="" method="">
      <div class="contact-container">
        <div class="contact-form-name">
          <label for="name">Name</label>
          <input type="text" id="name" />
        </div>
        <div class="contact-form-email">
          <label for="mail">Email</label>
          <input type="email" id="mail" />
        </div>
      </div>

      <div class="contact-container">
      <div class="contact-form-message">
        <label for="msg">Message</label>
        <textarea id="msg"></textarea>
      </div>
      <button type="submit">submit</button>
    </form>
  </div>
</footer>




