---
title: Stub Middleman Kit
---

<nav class="main-navbar">
  <div class="navbar-container">
    <div class="navbar-header">
      <div class="navbar-brand"><a href="">mydrivr</a></div>
      <ul class="navbar-items">
        <li class="navbar-link"><a href="">Find a city</a></li>
      </ul>
    </div>

    <div class="navbar-footer">
     <ul class="navbar-items">
      <li class="navbar-link"><a href="">Become a driver</a></li>
      <li class="navbar-link"><a href="">Sign in</a></li>
    </ul>
  </div>
</nav>

<div class="banner wrapper-100">
  <div class="banner-title"> Your day start with an smile when you arrived </div>
  <div class="banner-search-box">
    <div class="banner-container-search-box">
      <input type="search" id="search" placeholder="Search..." />
      <button class="icon"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>

<div class="country-card wrapper-80">
  <div class="country-container-card">
    <div class="country-card"></div>
  </div>
</div>

